h1 {
  margin-left: 33%;
  font-style: italic;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: 700;
}

.create-form {
  justify-content: center;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
