h1 {
  background-color: crimson;
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  margin-right: -45px;
  text-align: center;
}

h2 {
  background-color: crimson;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

body {
  background-image: url("../img/burger_background.png");
}

li {
  padding: 5px;
  margin: 5px;
  background: #f8e74e;
  border-width: 1px;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
}

.label {
  font-weight: 900;
}

.create-form {
  justify-content: center;
  background: #f8e74e;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}
